.demo-image-preview {
    position: relative;
    text-align: center;
    width: 200px;
}

.demo-image-preview > img {
    max-width: 100%;
}

// @media (max-width: 768px) {
//     .demo-image-preview > img {
//         width: 100%;
//     }
// }

/* fullscreen enable by props */
.demo-image-preview-fullscreen > img {
    max-width: 100%;
    height: 100vh;
}

.regFinger {
    position: absolute;
    width: 100%;
    // background-color: red;
    top: 5%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
}
// .webcam {
//     position: absolute;
//     top: 0;
//     // width: 200px;
//     overflow: hidden;
// }
