.search_line {
    margin-top: 1rem;
    // border: 1px solid $color-primary-light;
    $border: 1px solid $color-white-fade;
}

.searchFunction {
    height: 4rem;
    width: 100%;
    display: inline;
    display: flex;
    justify-content: space-between;
    margin: 1.9rem 0 2.5rem 0;
    button {
        border: none;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        color: $color-white;
        font-size: 1.6rem;
    }
    .sort_btn {
        width: 18%;
        background-color: $color-primary;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #dfe8fc36;
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 6px;
            font-size: 2rem;
        }
    }
    .form_group {
        width: 60%;
        position: relative;
        display: flex;
        // align-items: center;
        justify-content: center;
        input {
            width: 100%;
            height: 100%;
            border-radius: 6px;
            border: none;
            background-color: $color-white-fade;
            outline: none;
            padding: 2rem 2rem;
            font-size: 1.5rem;
            margin: 0;
        }
        button {
            display: inline-block;
            position: absolute;
            top: 65%;
            right: 2rem;
            transform: translateY(-50%);
            font-size: 1.6rem;
            background-color: transparent;
            color: $color-primary;
            padding: 0;
            margin: 0;
        }
    }
    .add_driver {
        width: 18%;
        background-color: $color-secondary;
    }
}
// * {
//     border: 1px solid red;
// }
.result_container {
    width: 100%;
    min-height: 60.4rem;
    border-radius: 10px;
    font-size: 2rem;
    box-shadow: -1px 10px 20px rgba(0, 0, 0, 0.04),
        0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    padding: 2rem 4rem;
    position: relative;
}
.result_content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    h1 {
        font-size: 3rem;
        color: $color-primary;
    }
    p {
        color: #8e919c;
        font-size: 1.5rem;
        width: 37.3rem;
        span {
            color: $color-secondary;
        }
    }
}

.table {
    ul {
        margin: 0;
        padding: 0 2rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 4.5rem;
        background-color: $color-primary;
        border-radius: 10px 10px 0 0;
        color: $color-white;
        font-weight: bold;

        li {
            list-style-type: none;
            button {
                cursor: auto;
            }
        }
    }

    ol {
        margin: 0;
        padding: 0 2rem;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5.5rem;
        color: $color-primary;
        font-weight: normal;
        border-bottom: 1px solid $box_bgcolor;

        li {
            list-style-type: none;
            color: $color-primary;
            button {
                background-color: $color-primary-dim;
                padding: 0.8rem 1rem;
                border: none;
                border-radius: 3px;
            }
        }
    }
}
